[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
lpmn-client = {version = "*", index = "https://pypi.clarin-pl.eu"}
tensorflow = "*"
scikit-learn = "*"
matplotlib = "*"
openpyxl = "*"
beautifulsoup4 = "*"
lxml = "*"
aiohttp = "*"
aiohttp-cors = "*"
fasttext="*"

[dev-packages]

[requires]
python_version = "3.8"
